*{
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    margin:0;
    background:#0b1f33;
    color:white;
}

.topo{
    background:#123b5d;
    padding:30px;
    text-align:center;
    border-bottom:3px solid #d4af37;
}

.topo h1{
    font-size:35px;
    margin:0;
}

.topo p{
    font-size:18px;
}


main{
    padding:20px;
}


.boasvindas,
.progresso,
.menu{
    background:#ffffff;
    color:#222;
    padding:25px;
    margin-bottom:20px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.3);
}


.patente{
    display:inline-block;
    background:#123b5d;
    color:white;
    padding:12px 25px;
    border-radius:30px;
    margin-top:15px;
}


.barra{
    height:25px;
    background:#ddd;
    border-radius:20px;
    overflow:hidden;
}


.porcentagem{
    width:0%;
    height:100%;
    background:#d4af37;
}


.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
    margin-bottom:20px;
}


.card{
    background:white;
    color:#222;
    padding:20px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 5px 20px rgba(0,0,0,.3);
}


.card h3{
    font-size:35px;
}


.card strong{
    font-size:30px;
    color:#123b5d;
}


.menu a{
    display:block;
    background:#123b5d;
    color:white;
    text-decoration:none;
    padding:15px;
    margin:10px 0;
    border-radius:15px;
}


.menu a:hover{
    background:#d4af37;
    color:#111;
}


footer{
    text-align:center;
    padding:30px;
}


@media(max-width:700px){

.cards{
    grid-template-columns:repeat(2,1fr);
}

}
